.conteudo {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.background {
    position: absolute;
    height: 120vh;
    width: 100%;
    left: 0;
    z-index: -1;
}

.info {
    width: 60%;
    margin-right: 60px;
    margin-top: 40px;
    color: white;
}

input {
    border: 1px solid #999;
    border-radius: 22px;
    min-width: 250px;
    margin-right: 12px;
    width: 85%;
    background: transparent;
    font-size: 18px;
    padding: 10px;
}

button {
    border: 1px solid #999;
    border-radius: 22px;
    margin-right: 12px;
    color: white;
    background: #2D333B;
    font-size: 18px;
    padding: 10px;
}

.perfil {
    display: flex;
    margin: 20px 0;
}

.profile {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    border: 2px solid #e5e5e5;
    margin-right: 32px;
}

.perfil h3 {
    color: #999;
    font-size: 24px;
    margin: 0;
}

.perfil span {
    display: block;
    color: #999;
    font-size: 12px;
    margin: 0;
}

.perfil p {
    color: #999;
    font-size: 12px;
    margin: 0;
    margin-top: 20px;
}