.conteudo {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.background {
    position: absolute;
    height: 120vh;
    width: 100%;
    left: 0;
    z-index: -1;
}

.info {
    width: 60%;
    margin-right: 60px;
    margin-top: 40px;
    color: white;
}